{
    "presets": [
        ["@babel/preset-env", {
          "targets": "last 3 version",
          "debug": false,
          "modules": "commonjs"
        }]
    ],
    "plugins": ["transform-class-properties", "add-module-exports"],

    "env": {
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "spec/**/*.spec.js"
                    ]
                }]
            ]    
        }
    }
}
