{
    "presets": [
        ["env"]
    ],
    "plugins": ["transform-class-properties", "add-module-exports"],
    "env": {
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "spec/**/*.spec.js"
                    ]
                }]
            ]    
        }
    }
}
