sudo: required
dist: trusty
language: node_js
node_js:
  - "node"
cache:
  directories:
  - node_modules
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm prune
  - npm install
  - npm update
script:
  - npm run test
  - npm run build
  - npm run doc
