sudo: false
dist: trusty
addons:
  chrome: stable
  firefox: latest
language: node_js
node_js:
  - "node"
cache:
  directories:
  - node_modules
install:
  - npm prune
  - npm install
  - npm update
script:
  - npm run lint
  - npm run build
  - npm run test
  - npm run doc
