{% if page.url == '/' %}

<header class="overview">
  <div class="container">
    <img class="logo" src="../css/wavesurfer-white.png" alt="wavesurfer.js logo">
    {% include demo.html %}
  </div>
</header>

{% else %}

<header>
  <a href="/">
    <img class="logo" src="../css/wavesurfer-white.png" alt="wavesurfer.js logo">
  </a>
</header>

{% endif %}

<div class="container-fluid _carbon-container">
  <div class="row">
    <div class="col-md-7"></div>

    <div class="col-md-5">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE237&placement=wavesurfer-jsorg" id="_carbonads_js"></script>
    </div>
  </div>
</div>
