#annotations {
    max-height: 300px;
    overflow: auto;
}

.wavesurfer-annotations tr.wavesurfer-active td {
    background-color: yellow;
}

.wavesurfer-time {
    width: 100px;
    color: #555;
}

.wavesurfer-tier-Text {
    width: 500px;
}

td.wavesurfer-tier-Comments {
    color: #999;
}

.wavesurfer-handle {
    background-color: #c9e2b3;
}